/*
 Theme Name:   BookMyParts Child
 Description:  BookMyParts Child Theme
 Author:       the Pristinit WordPress team
 Author URI:   http://pristinit.com
 Template:     bookmyparts
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: e-commerce, blog, grid-layout, two-columns, left-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, threaded-comments
 Text Domain:  bookmyparts-child
*/
.top-banner7 .header-nav9{ margin-bottom:10px;}
.service-sale7{padding-bottom: 15px !important;}
.wrap-cat-icon6 .title-cat-icon{ padding:14px 20px;}
.shop-page{margin-top:0;}
.owl-carousel .owl-item{ height:387px;}
.header-box12 > .title24{padding:8px 0;}
.bread-crumb{margin-bottom:15px;}
.hot-product12,.product-box12{margin-bottom: 30px;}
.product-title{ height:70px;}
.hot-product12 .title-hot12{ margin-bottom: 30px;}
.woocommerce form label.error{color: red; font-weight: normal;}
.woocommerce form .form-row input.input-text{ box-shadow: none;}
.header-page .topbar{background-color:#FAFAFA; border-bottom:1px solid #e8e8e8;}
.account-login .menu{ color: #666; margin: 0;}
.account-login .menu li a{padding-left: 9px;font-family: "Open Sans",sans-serif;}
.woocommerce form .form-row input.input-text {padding: 5px 15px;}
.mini-cart-edit i.fa.fa-times-circle {color: #fe6536 ;font-size: 23px;}
.currency-box.custom-drp .currency-list{ width: 160px;}
.currency-box.custom-drp .currency-current{ color: #666;}
.currency-box.custom-drp .currency-list li a{ text-transform: capitalize;}
.woocommerce ul#shipping_method li{ text-indent: 0;padding: 0.25em 0;}
.shop_table_responsive #shipping_method li input[type="radio"] + label::before,
.woocommerce-checkout-review-order-table #shipping_method li input[type="radio"] + label::before {color: #373435; border-color:#373435; font-size: 11px;}
.woocommerce-checkout-review-order-table #shipping_method li input[type="radio"] + label::before{ font-size: 10px;}
.woocommerce table.shop_table thead{ background:transparent;}
.woocommerce table.shop_table thead th{ color: #373435;}
.woocommerce table, th, td{ border: 0 none;}
.woocommerce form.woocommerce-form-login .form-row label.inline{ display: inline-block;}
.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {  margin-left: 13px;  margin-top: 7px; position: relative;}
.account-login .menu li { display: inline-block;}
.account-login .menu li:first-child{ border-right: 1px solid #e8e8e8;}
.account-login .menu li:nth-child(2){ margin-left: 13px;}
.page-template-default .content-detail-text{ border-bottom: none;}
.block-orange .header-box12::before{ width:10px !important;}
.woocommerce form .form-row input.input-text.error{box-shadow: 0 0 3px rgba(255, 0, 0, 1); transition:all 0.3s ease 0s;}
.form-row.custom-gst-number{ clear:both;}
.cart .pin_div{margin: 5px 0 0; padding:0;}
.cart .avlpin{padding: 10px 0 18px; text-align: left;margin: 5px 0 0;}
.otptextual{font-size: 13px; margin-left:4px;}
.woocommerce #review_form #respond textarea{ border:1px solid #e5e5e5;}
.cart .detail-qty{padding: 0 10px;}
.cart .detail-qty { max-width: 90px;}
.product-enquiry { float:right;}
.product-enquiry .button{ background-color:#FF4400;}
.product-enquiry-form{padding-left:15px; padding-right:15px;}
.produ-lay-form .modal-header {
	margin-bottom:10px;
    padding: 13px 20px;
    text-align: center;
}
.produ-lay-form .close{ opacity:1;}
.produ-lay-form h4.modal-title{color: #000; font-weight:600;}
.product-enquiry-form input[type="submit"]{ border-radius:5px; margin-right: -17px;}
.produ-lay-form .modal-content{ border-radius:0;}
.produ-lay-form .modal-dialog{ width:570px; margin-top:100px;}
.modal-backdrop{background-color: #393939 !important;}
.produ-lay-form .modal-header .close {
    margin-right: -27px;
    margin-top: -21px;
}
.form-group.button-product{ text-align:right;margin-top:40px;}
.product-enquiry-form input[type="text"],.product-enquiry-form input[type="tel"]{ margin-bottom:0; padding:0 13px; background-color: #f2f4f3;}
.product-enquiry-form .wpcf7-text.wpcf7-tel{border: 1px solid #e5e5e5;
background-color: #f2f4f3;
    color: #999;
    height: 42px;
	padding:0 13px;
    width: 100%;}
.product-enquiry-form textarea{ height:140px; margin-bottom:0;padding:8px 13px;background-color: #f2f4f3;}
.detail-extralink{padding: 10px 0;margin-top: 20px;}
/*=================Coupon-offer=======================*/
.offer-title {
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    margin: 0 -12px 12px;
    padding: 10px 12px;
}
.our-coupon {
    font-weight: 600;
    margin-bottom: 10px;
	border: 1px dashed #95c521;
}
.our-coupon > input{ border: 0 none;
    padding-left: 8px;
    width: 156px;}
.copy-code-btn{background-color: #95c521;
    border: 1px solid #95c521;
    color: #fff;
	letter-spacing: 0.5px;
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;}
.offer-terms {
    margin-bottom: 12px;
}
.offer-detail p{ margin-bottom:5px; font-size:13px;}
.offer-terms > a {
    color: #999;
    font-size: 13px;
    text-decoration: underline;
}
.coupon-off {
	background-color: #fff;
   border: 2px dashed #ff4400;
    margin-bottom: 20px;
	margin-top:10px;
    padding: 0 12px 5px;
}
.offer-detail {
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 18px;
}
.offer-detail:last-child{ border-bottom:0px;}
a.otp-btn {
    color: #ff4400;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    text-align: right;
	text-decoration:underline;
    transition: all 0.5s ease-out 0s;
}
.set-message-run{position: relative;}
.otp-success,.otp-failed {
    position: absolute;
    right: 15px;
    top: -39px;
}
.phone-er{color:#a00;}
.otp-success span::after,.otp-failed span::after {
    font-family: fontawesome;
    font-size: 18px;
    margin-left: 5px;
}
.otp-success span::after{content: "\f00c";color: #2d9300;}
.otp-failed span::after{content: "\f00d"; color: #a00;}


.color-bg-set{ background:#FE6536; margin-bottom:15px;}
.cat-mega-menu .list-cat-mega-menu .strong a {
    margin: 5px 0 7px;
	border-left:0 none;
	font-size:14px;
	padding-bottom:0px;
	font-weight: 700; 
	color: #000;
	text-transform:none;
	padding-left:0;

}

.cat-mega-menu .list-cat-mega-menu .strong::after {
    content: "\f105";
	font-family:fontawesome;
	margin-left:5px;
}

.cat-mega-menu .list-cat-mega-menu ul{ padding-left:0;margin-bottom: 20px;}
.cat-mega-menu .list-cat-mega-menu li{margin-bottom: 4px;list-style:none;padding-left: 0;}
.cat-mega-menu .list-cat-mega-menu a {
    color: #878787;
	font-size:13px;
    letter-spacing: 0.5px;
}
.cat-mega-menu .list-cat-mega-menu a:hover{color:#FE6536;}

button.vc_general.vc_btn3.vc_btn3-size-sm.vc_btn3-shape-rounded.vc_btn3-style-outline.vc_btn3-icon-left.vc_btn3-color-danger {
    color: #fe6536;
    border-color: #fe6536;
    background-color: transparent;
}
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-outline.active, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-outline:active, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-outline:focus, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-outline:hover  {
    color: #FFF !important;
    border-color: #fe6536 !important;
    background-color: #fe6536 !important;
}
.vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline,
.vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline-custom {
    padding: 9px 13px 9px 33px !important;
font-size:14px !important;
}
.vc_btn3-container.header-wishlist-btn.vc_btn3-inline {
    float: right !important;
	margin-left:10px;
}
.vc_btn3-container.header-wishlist-btn .vc_btn3-icon.fa{ left: 11px !important;}
.list-category-toggle{
  height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#footer .payment-method{padding-top:15px; padding-bottom:15px;}
#text-3 .widget-title::after,#text-4 .widget-title::after {
    content: none;
}
/* css for front page changes  */
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.con-name, .wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.con-text,
.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel.mobile-num {
    height: 35px;
    margin-top: 6px;
	border: 1px solid #e5e5e5;
    padding: 6px 10px;
	margin-bottom:0;
	width:100%;
}
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.con-text {height:60px; resize:none;}
.form-contact .form-submit{ margin-top:10px;}
/* css for front page changes  */
#fileuploadfield { display:none; }
#uploadtextfield {height:27px;width:147px;margin-right:5px;float:left;}
#uploadbrowsebutton { height:27px;width:147px;text-align:center;float:left;}

.list-category-menu li { color: #000; list-style-type: none;}

/*
.cat_relative{ position: relative;width:30%; height:800px;}
.cat_menu_hw{height:800px; }*/
