<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing comment statuses...</div>
<div class="progress-msg">Composing ping statuses...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Title`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Title`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Unique ID`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Title`</div>
<div class="progress-msg"><b>CREATING</b> `Title` `Product`</div>
<div class="progress-msg">Associate post `Title` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `Title` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_vc_post_settings` has been updated with value `a:0:{}` for post `Title` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_review_count` has been updated with value `1` for post `Title` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_rating_count` has been updated with value `a:0:{}` for post `Title` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_average_rating` has been updated with value `5.00` for post `Title` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `post_views` has been updated with value `3` for post `Title` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pageview` has been updated with value `2` for post `Title` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Product Categories`, duplicate detected. Importing Product to existing `Product Categories` product_cat, ID 116, slug `product-categories` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Title` `Product` (ID: 3241)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Alluminium guide Roller 800MM`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Alluminium guide Roller 800MM`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Alluminium guide Roller 800MM`</div>
<div class="progress-msg"><b>CREATING</b> `Alluminium guide Roller 800MM` `Product`</div>
<div class="progress-msg">Associate post `Alluminium guide Roller 800MM` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `Alluminium guide Roller 800MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_vc_post_settings` has been updated with value `a:0:{}` for post `Alluminium guide Roller 800MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_review_count` has been updated with value `1` for post `Alluminium guide Roller 800MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_rating_count` has been updated with value `a:0:{}` for post `Alluminium guide Roller 800MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_average_rating` has been updated with value `5.00` for post `Alluminium guide Roller 800MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `post_views` has been updated with value `3` for post `Alluminium guide Roller 800MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pageview` has been updated with value `2` for post `Alluminium guide Roller 800MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Plastic Machinery Parts `, duplicate detected. Importing Product to existing `Plastic Machinery Parts` product_cat, ID 117, slug `plastic-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Packaging Machinery Parts `, duplicate detected. Importing Product to existing `Packaging Machinery Parts` product_cat, ID 118, slug `packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` BMP`, duplicate detected. Importing Product to existing `BMP` product_cat, ID 119, slug `bmp` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Alluminium guide Roller 800MM` `Product` (ID: 3242)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Film Folder Divice 1250mm`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Film Folder Divice 1250mm`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `2`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Film Folder Divice 1250mm`</div>
<div class="progress-msg"><b>CREATING</b> `Film Folder Divice 1250mm` `Product`</div>
<div class="progress-msg">Associate post `Film Folder Divice 1250mm` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `Film Folder Divice 1250mm` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_vc_post_settings` has been updated with value `a:0:{}` for post `Film Folder Divice 1250mm` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_review_count` has been updated with value `1` for post `Film Folder Divice 1250mm` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_rating_count` has been updated with value `a:0:{}` for post `Film Folder Divice 1250mm` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_average_rating` has been updated with value `5.00` for post `Film Folder Divice 1250mm` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `post_views` has been updated with value `3` for post `Film Folder Divice 1250mm` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pageview` has been updated with value `2` for post `Film Folder Divice 1250mm` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Plastic Machinery Parts `, duplicate detected. Importing Product to existing `Plastic Machinery Parts` product_cat, ID 117, slug `plastic-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Packaging Machinery Parts `, duplicate detected. Importing Product to existing `Packaging Machinery Parts` product_cat, ID 118, slug `packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` BMP`, duplicate detected. Importing Product to existing `BMP` product_cat, ID 119, slug `bmp` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Film Folder Divice 1250mm` `Product` (ID: 3243)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cutting Machine Blade 700MM`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cutting Machine Blade 700MM`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `3`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Cutting Machine Blade 700MM`</div>
<div class="progress-msg"><b>CREATING</b> `Cutting Machine Blade 700MM` `Product`</div>
<div class="progress-msg">Associate post `Cutting Machine Blade 700MM` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `Cutting Machine Blade 700MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_vc_post_settings` has been updated with value `a:0:{}` for post `Cutting Machine Blade 700MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_review_count` has been updated with value `1` for post `Cutting Machine Blade 700MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_rating_count` has been updated with value `a:0:{}` for post `Cutting Machine Blade 700MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_average_rating` has been updated with value `5.00` for post `Cutting Machine Blade 700MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `post_views` has been updated with value `3` for post `Cutting Machine Blade 700MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pageview` has been updated with value `2` for post `Cutting Machine Blade 700MM` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Plastic Machinery Parts `, duplicate detected. Importing Product to existing `Plastic Machinery Parts` product_cat, ID 117, slug `plastic-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Packaging Machinery Parts `, duplicate detected. Importing Product to existing `Packaging Machinery Parts` product_cat, ID 118, slug `packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Blade & Cutting Knives `, duplicate detected. Importing Product to existing `Blade &amp; Cutting Knives` product_cat, ID 120, slug `blade-cutting-knives-packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` BMP`, duplicate detected. Importing Product to existing `BMP` product_cat, ID 121, slug `bmp-blade-cutting-knives-packaging-machinery-parts` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Cutting Machine Blade 700MM` `Product` (ID: 3244)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Wooden Frame Cutting Machine Blade`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Wooden Frame Cutting Machine Blade`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `4`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Wooden Frame Cutting Machine Blade`</div>
<div class="progress-msg"><b>CREATING</b> `Wooden Frame Cutting Machine Blade` `Product`</div>
<div class="progress-msg">Associate post `Wooden Frame Cutting Machine Blade` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `Wooden Frame Cutting Machine Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_vc_post_settings` has been updated with value `a:0:{}` for post `Wooden Frame Cutting Machine Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_review_count` has been updated with value `1` for post `Wooden Frame Cutting Machine Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_rating_count` has been updated with value `a:0:{}` for post `Wooden Frame Cutting Machine Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_average_rating` has been updated with value `5.00` for post `Wooden Frame Cutting Machine Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `post_views` has been updated with value `3` for post `Wooden Frame Cutting Machine Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pageview` has been updated with value `2` for post `Wooden Frame Cutting Machine Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Plastic Machinery Parts `, duplicate detected. Importing Product to existing `Plastic Machinery Parts` product_cat, ID 117, slug `plastic-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Packaging Machinery Parts `, duplicate detected. Importing Product to existing `Packaging Machinery Parts` product_cat, ID 118, slug `packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Blade & Cutting Knives `, duplicate detected. Importing Product to existing `Blade &amp; Cutting Knives` product_cat, ID 120, slug `blade-cutting-knives-packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` BMP`, duplicate detected. Importing Product to existing `BMP` product_cat, ID 121, slug `bmp-blade-cutting-knives-packaging-machinery-parts` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Wooden Frame Cutting Machine Blade` `Product` (ID: 3245)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sealing Blade`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sealing Blade`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `5`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sealing Blade`</div>
<div class="progress-msg"><b>CREATING</b> `Sealing Blade` `Product`</div>
<div class="progress-msg">Associate post `Sealing Blade` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `Sealing Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_vc_post_settings` has been updated with value `a:0:{}` for post `Sealing Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_review_count` has been updated with value `1` for post `Sealing Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_rating_count` has been updated with value `a:0:{}` for post `Sealing Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wc_average_rating` has been updated with value `5.00` for post `Sealing Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `post_views` has been updated with value `3` for post `Sealing Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pageview` has been updated with value `2` for post `Sealing Blade` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Importing taxonomy `product_visibility` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Plastic Machinery Parts `, duplicate detected. Importing Product to existing `Plastic Machinery Parts` product_cat, ID 117, slug `plastic-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Packaging Machinery Parts `, duplicate detected. Importing Product to existing `Packaging Machinery Parts` product_cat, ID 118, slug `packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Blade & Cutting Knives `, duplicate detected. Importing Product to existing `Blade &amp; Cutting Knives` product_cat, ID 120, slug `blade-cutting-knives-packaging-machinery-parts` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` BMP`, duplicate detected. Importing Product to existing `BMP` product_cat, ID 121, slug `bmp-blade-cutting-knives-packaging-machinery-parts` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Sealing Blade` `Product` (ID: 3246)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
