<span style='color: #000' title='Frames'>   246</span><span style='color: #009' title='Memory'> 120576.00 KB</span><span style='color: #900' title='Time'>    911.96 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />